<div class="flyntComponent gallery-item gallery-item--{{ mediaGalleryImageWidth }} gallery-item-height--{{ mediaGalleryImageHeight }}" is="flynt-grid-media-gallery-image">
  <img class="figure-image lazyload" src="{{ mediaGalleryImage.src|resizeDynamic(0, 540) }}" alt="{{ mediaGalleryImage.alt|e }}">
</div>
