[is='flynt-block-wysiwyg'] {
  .preContent {
    font-family: 'GTCinetypeRegular', Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 2.626rem;
    margin: 0 auto 50px;
    max-width: 600px;
  }

  .content {
    @include reset-content-margins;
    font-family: 'IBMLight', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 600px;

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
