[is='flynt-block-wysiwyg'] {
  .preContent {
    @include font-cinetype;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.35;
    margin: 0 auto 50px;
    max-width: 600px;
  }

  .content {
    @include reset-content-margins;
    @include font-ibm;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;

    p {
      margin: 1em 0;
    }

    h2 {
      margin: 2em 0 1.25em;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.35;
    }

    h3 {
      margin: 2em 0 1.25em;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 1.35;
    }


    h4 {
      margin: 2em 0 1.25em;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.35;
    }

    h5 {
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.0625em;
      line-height: 1.35;
      margin: 2em 0 1.25em;
      text-transform: uppercase;
    }

    h6 {
      margin: 2em 0 1.25em;
      line-height: 1.35;
      font-weight: normal;
    }

  }
}
