<div class="flyntComponent componentPadding" is="flynt-block-wysiwyg">
  <div class="container container_fullPadding">
    <div class="preContent">{{ preContent|e }}</div>
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
