<div class="flyntComponent componentPadding componentSpacing" is="flynt-block-wysiwyg">
  <div class="container container_fullPadding">
    <h1 class="preContent">{{ preContent|e }}</h1>
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
