<div class="flyntComponent componentSpacing" is="flynt-block-wysiwyg">
  <div class="container container_fullPadding">
    <div class="content content--{{ textAlignment }}">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
