<div class="flyntComponent" is="flynt-block-post-main">
  <div class="container container_full"> 
    {% for component in post.meta('postComponents') %}
      {{ renderComponent(component) }}
    {% endfor %}
  </div>
  {# <div class="container container_full">
    <div class="header">
      <div class="post-title h1">{{ post.title }}</div>
      <div class="post-subtitle h1">{{ post.client }}</div>
    </div>
    <div class="content">
      {% if post.content|e('wp_kses_post') %}
        {{ post.content|e('wp_kses_post') }}
      {% endif %}
    </div>
  </div> #}
</div>
