<div class="flyntComponent" is="flynt-block-post-main">
  <div class="container container_full"> 
    {% for component in post.meta('postComponents') %}
      {{ renderComponent(component) }}
    {% endfor %}
  </div>
</div>
