[is='flynt-block-wysiwyg-quote'] {
  margin-top: 50px;
  margin-bottom: 50px;
  .content {
    @include reset-content-margins;
    font-family: $font-ibm;
    max-width: $content-max-width;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.688rem;

    @media (min-width: $breakpoint-tablet) {
      font-family: $font-cinetype;
      font-size: 2.625rem;
      line-height: 3.544rem;
    }
  }
}
