<div class="flyntComponent componentPadding" is="flynt-block-wysiwyg-quote">
  <div class="container container_fullPadding">
    <div class="content">
      {{ contentHtml|e }}
    </div>
  </div>
</div>
