[is='flynt-block-project-info'] {
  .content {
    @include reset-content-margins;
    margin: 0 auto;
    padding: 0;

    &-title {
      font-style: italic;
      font-weight: 300;
    }

    &-text {
      @media (min-width: $breakpoint-mobile-horizontal) {
        max-width: $content-max-width;
      }
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
