.list {
  @include reset-list;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;

  &-item {
    @include reset-content-margins;

    @media (min-width: $breakpoint-tablet-horizontal) {
      max-width: 240px;
    }
  }

  &-link {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
  }

  &-titleLink,
  &-link {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  .childList {
    @include reset-list;

    &-item {
      line-height: 1.625;
      margin: 0;
      padding: 0 0 0.5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
