.list {
  @include reset-list;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;

  &-item {
    @include reset-content-margins;

    @media (min-width: $breakpoint-tablet-horizontal) {
      max-width: 240px;
    }
  }

  &-link {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
  }

  &-titleLink,
  &-link {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $white;
      cursor: url("data:image/svg+xml;utf8, <svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.32 10.6904L0 0.69043V20.6904L17.32 10.6904Z' fill='white'/></svg>"), auto;
      text-decoration: none;
    }
  }

  .childList {
    @include reset-list;

    &-item {
      line-height: 1.625;
      margin: 0;
      padding: 0 0 0.5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
