[is='flynt-grid-posts-selector'] {
  margin: $container-padding-desktop auto;

  .container {
    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
    }

    .allPostsLink {
      align-items: center;
      display: flex;
      margin-bottom: $container-padding-desktop;
      margin-left: 10px;
      margin-right: $container-padding-desktop;
      margin-top: $container-padding-desktop;

      &::after {
        color: currentColor;
        content: '>';
        margin-left: 10px;
      }
    }

    .grid {
      @include reset-list;
      column-gap: $gap;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      margin: 0 auto;
      row-gap: $gap;

      &--layout1-1 {
        grid-template-columns: 1fr 1fr;
      }

      &--layout1-2 {
        grid-template-columns: 1fr 2fr;
      }

      &--layout2-1 {
        grid-template-columns: 2fr 1fr;
      }

      &--layout1 {
        grid-template-columns: 1fr;
      }
    }

    .grid-item {
      width: 100%;

      .content-link {
        position: relative;
        text-align: center;
        text-decoration: none;
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;

        &-image {
          height: fit-content;
          max-height: 400px;
          min-height: 400px;
          object-fit: cover;
          width: 100%;
        }

        &-inner {
          align-items: flex-start;
          display: flex;
          flex-flow: column wrap;
          justify-content: flex-start;
          position: absolute;
          top: 10px;
          left: 10px;

          .content-title {
            margin-bottom: 0;
            padding-top: 0;
          }

          .content-subtitle {
            margin-bottom: 0;
            padding-top: 0;
            font-style: italic;
          }
        }
      }
    }
  }

  .artist {
    .content-date {
      display: none;
    }
  }
}
