[is='flynt-grid-image-gallery'] {
  .figure {
    margin: 0;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-image {
      padding: $gap 0 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding: $gap;
        width: 50%;
      }
    }
  }
}
