[is='flynt-grid-image-gallery'] {
  .figure {
    margin: 0;
  }

  .gallery {
    column-gap: $container-padding-mobile;
    columns: 2 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      columns: 2 200px;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: block;
    }

    &-image {
      display: inline-block;
      flex-flow: row wrap;
      margin: 0 $container-padding-mobile $container-padding-mobile 0;
      width: 100%;
    }
  }
}
