[is='flynt-block-footer-contact'] {
  border-top: 1px solid $black;

  @media (max-width: $breakpoint-mobile-horizontal) {
    padding: 50px $container-padding-mobile;
  }

  .content {
    @include reset-content-margins;
    font-family: 'IBMRegular', Helvetica, Arial, sans-serif;
    font-size: 2.813rem;
    letter-spacing: 1px;
    line-height: 3.656rem;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $breakpoint-mobile-horizontal) {
      font-size: 1.875rem;
      letter-spacing: 0;
      line-height: 2.813rem;
    }

    a {
      color: $blue;
      text-decoration: underline;

      &:hover,
      &:focus {
        cursor: url("data:image/svg+xml;utf8, <svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.32 10.6904L0 0.69043V20.6904L17.32 10.6904Z' fill='%230060FF'/></svg>"), auto;
        text-decoration: underline;
      }
    }
  }
}
