[is='flynt-hero-video-home'] {
  background: #000;
  @media (orientation: landscape) {
    height: 100vh;
    overflow: hidden;
  }

  .figure {
    display: block;
    width: 100%;

    &-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  @media (orientation: landscape) {
    .figure {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.has-video {
    align-items: center;
    display: flex;
    justify-content: center;

    .figure {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

    }
  }

  .video {
    flex-shrink: 0;
    margin: 0 auto;
    position: relative;
    visibility: hidden;
    width: 100%;
  }

  &.isLoaded {
    .video {
      visibility: visible;
    }

    .figure {
      visibility: hidden;
    }

  }

  .video-overlay {
    color: inherit;
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 0;
    padding: var(--padding_large);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &--alignTop {
      justify-content: flex-start;
    }

    &--alignCenter {
      justify-content: center;
    }

    &--alignBottom {
      justify-content: flex-end;
    }
  }
}
