[is='flynt-list-horizontal'] {
  margin-bottom: $component-spacing-mobile;
  margin-top: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: $component-spacing-desktop;
    margin-top: $component-spacing-desktop;
  }

  .list {
    @include reset-list-flex;
    flex-flow: row wrap;

    .item {
      font-family: $font-cinetype;
      font-size: 2.625rem;
      line-height: 3.544rem;
      margin-right: 10px;

      @media (max-width: $breakpoint-tablet - 1) {
        font-size: 1.5rem;
        line-height: 2.025rem;
      }

      &:nth-child(odd) {
        font-weight: bold;
      }

      &:nth-child(even) {
        font-style: italic;
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          cursor: url("data:image/svg+xml;utf8, <svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.32 10.6904L0 0.69043V20.6904L17.32 10.6904Z' fill='black'/></svg>"), auto;
          text-decoration: none;
        }
      }
    }
  }
}
