[is='flynt-list-horizontal'] {
  .list {
    @include reset-list-flex;
    flex-flow: row wrap;

    .item {
      margin-right: 10px;

      // &:after {
      //   content: ',';
      //   font-size: 2.75rem;
      // }

      &:last-child {
        // &:after {
        //   content: ',';
        //   display: none;
        // }
      }

      a {
        text-decoration: none;
      }
    }
  }
}
