<div class="flyntComponent list-horizontal" is="flynt-list-horizontal">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml}}
      </div>
    {% endif %}
    <div class="content">
      <ul class="list">
        {% for listItem in listHorizontal %}
          <li class="item">
            <a href="{{ listItem.title.url }}" class="h1" target="_blank">
              {{ listItem.title.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
