[is='flynt-block-post-header'] {
  .featuredImage {
    margin: 0;
    width: 100%;

    .figure-image {
      height: 70vh;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  
  .content {
    padding: $container-padding-desktop;

    .meta {
      font-size: 14px;
    }
  
    .excerpt {
      color: $color-text;
      font-weight: normal;
    }
  }
  
}
