.page-home {
  @media (max-width: $breakpoint-mobile-horizontal - 1) {
    .flyntComponent--sizeFull {
      height: 100vh;
  
      .container {
        height: 100%;
  
        .figure {
          height: 100%;
  
          img {
            display: block;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
          }      
        }
      }
    }
  }


  .featured-projects {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: $container-padding-mobile $container-padding-desktop;
    width: 100%;

    @media (max-width: $breakpoint-tablet - 1) {
      display: flex;
      gap: 0;
      padding: 0 $container-padding-mobile;
    }

    .container {
      height: 100%;
    }

    .grid-item {
      height: calc((100vw - 180px) / 3);

      @media (max-width: $breakpoint-tablet - 1) {
        height: 100%;
        margin-bottom: $container-padding-mobile;
      }

      &--one-third {
        width: calc((100vw - 180px) / 3);

        @media (max-width: $breakpoint-tablet - 1) {
          width: 100%;
        }
      }

      &--two-third {
        width: calc((100vw - 180px) / 1.5);

        @media (max-width: $breakpoint-tablet - 1) {
          width: 100%;
        }
      }

      &--three-third {
        height: 100%;
        width: calc(100vw - 140px);

        @media (max-width: $breakpoint-tablet - 1) {
          width: 100%;
        }
      }
    }
  }

  .list-horizontal {
    padding: $container-padding-desktop;

    @media (max-width: $breakpoint-tablet) {
      padding: $container-padding-desktop $container-padding-mobile;
    }
  }
}
