.single {

  .mainContent {
    flex: 1 0 auto;
    margin-bottom: 20px;
    
    .post-main {
      .meta {

        .post-title {
          font-family: $font-cinetype;
          font-style: italic;
          font-size: 2.625rem;
          line-height: 3.563rem;

          @media (max-width: $breakpoint-tablet - 1) {
            font-size: 1.75rem;
            line-height: 2.363rem;
          }
        }

        .post-subtitle {
          font-family: $font-cinetype;
          font-weight: bold;
          font-size: 2.625rem;
          line-height: 3.563rem;

          @media (max-width: $breakpoint-tablet - 1) {
            font-size: 1.75rem;
            line-height: 2.363rem;
          }
        }

        .post-description {
          font-family: $font-ibm;
          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 0.5px;
          line-height: 2.25rem;
          margin-top: 50px;
          max-width: 75%;

          @media (max-width: $breakpoint-tablet - 1) {
            font-size: 1.25rem;
            line-height: 1.875rem;
          }

          @media (max-width: $breakpoint-tablet-horizontal - 1) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
