[is='flynt-hero-video'] {
  overflow: hidden;

  &.has-video {
    .figure {
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1;

      &-image {
        height: 100%;
        object-fit: cover;
        width: 100%;

        &--isHidden {
          visibility: hidden;
        }
      }

    }
  }

  .video {
    height: 100%;
    margin: 0 auto;
    position: relative;



    &-player {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;

      &--isLoading {
        background: rgba(0, 0, 0, 0.5);
        transition: background 1s linear;

        .figure {
          opacity: 1;
        }
      }

      iframe {
        flex-shrink: 0;
      }

      &--isLoaded {
        background: rgba(0, 0, 0, 1);
        transition: background 1s linear;

        .figure {
          opacity: 0;
          transition: opacity 1s linear;
        }

        iframe {
          opacity: 1;
          transition: opacity 1s linear;
        }
      }

    }
  }
}
