[is='flynt-block-footer-contact'] {
  border-top: 1px solid $black;
  
  padding-bottom: 50px;
  padding-top: 50px;

  @media (min-width: $breakpoint-tablet-horizontal) {
    padding-bottom: $container-padding-desktop;
    padding-top: $container-padding-desktop;
  }

  .content {
    @include reset-content-margins;
    font-weight: bold;
    font-family: $font-cinetype;
    font-size: 2.813rem;
    letter-spacing: 1px;
    line-height: 3.656rem;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $breakpoint-tablet - 1) {
      font-family: $font-ibm;
      font-size: 1.875rem;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 2.813rem;
    }

    a {
      @include cursor-blue;
      color: $blue;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
