<div class="flyntComponent gallery-item gallery-item--{{ mediaGalleryVideoWidth }}" is="flynt-grid-media-gallery-video">
  <video autoplay muted loop>
    <source type="video/mp4" src="{{ mediaGalleryVideo }}">
  </video>
</div>
