[is='flynt-list-column'] {
  .content {
    padding: 0;

    .list {
      @include reset-list-flex;
      flex-flow: row wrap;
  
      .item {
        max-width: 25%;

        @media (max-width: $breakpoint-tablet-horizontal) {
          max-width: 50%;
        }

        @media (max-width: $breakpoint-mobile-horizontal) {
          max-width: 100%;
        }

        &:not(:last-child) {
          margin-right: $container-padding-desktop * 2;
        }

        // p {
        //   font-size: 1rem;
        // }
      }
    }
  }
}
