[is='flynt-list-column'] {
  .content {
    padding: 0;

    .list {
      @include reset-list-flex;
      flex-flow: row wrap;
    }

    .item {
      margin-right: $container-padding-mobile;
      width: 16.6%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-bottom: 50px;
        width: calc(50% - 40px);
      }

      // &:not(:last-child) {
      //   margin-right: $container-padding-desktop * 2;
      // }

      &--column-title {
        color: $blue;
        font-family: 'IBMRegular', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 1.35rem;
        margin-bottom: 20px;
        text-transform: uppercase;

        @media (max-width: $breakpoint-mobile-horizontal) {
          font-size: 0.875rem;
          letter-spacing: 3px;
          line-height: 1.181rem;
        }
      }

      p {
        font-family: 'IBMRegular', Helvetica, Arial, sans-serif;
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.625rem;

        @media (max-width: $breakpoint-mobile-horizontal) {
          font-size: 1rem;
          letter-spacing: 0.5px;
          line-height: 1.35rem;
        }

        em {
          font-family: 'IBMLightItalic', Helvetica, Arial, sans-serif;
          text-decoration: none;
        }

        a {
          text-decoration: none;

          &:hover,
          &:focus {
            cursor: url("data:image/svg+xml;utf8, <svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.32 10.6904L0 0.69043V20.6904L17.32 10.6904Z' fill='black'/></svg>"), auto;
            text-decoration: none;
          }
        }
      }
    }
  }
}
