[is='flynt-list-column'] {


  .content {
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;

    @media (max-width: $breakpoint-tablet - 1) {
      flex-flow: column wrap;
    }

    .list {
      @include reset-list-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      width: 80%;

      @media (max-width: $breakpoint-tablet - 1) {
        align-items: flex-start;
        width: 100%;
      }
    }

    .item {
      margin-right: $container-padding-mobile;
      min-width: 20%;
      width: auto;

      @media (max-width: $breakpoint-tablet - 1) {
        margin-bottom: 50px;
        min-width: calc(33% - 40px);
      }

      @media (max-width: $breakpoint-mobile-horizontal - 1) {
        margin-bottom: 50px;
        min-width: calc(50% - 40px);
      }

      p {
        @include font-ibm;
        font-size: 1.25rem;
        line-height: 1.35;

        @media (max-width: $breakpoint-mobile-horizontal - 1) {
          font-size: 1rem;
        }

        em {
          font-family: 'IBMLightItalic', Helvetica, Arial, sans-serif;
          font-style: italic;
          text-decoration: none;
        }

        a {
          @include cursor-black;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

    .all-projects {
      @include font-cinetype;;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      width: 20%;
      color: $blue;
      font-size: 1.75rem;
      line-height: 1.35;

      @media (max-width: $breakpoint-tablet - 1) {
        width: 100%;
      }

      a {
        @include cursor-blue;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
