<div class="flyntComponent componentPadding" is="flynt-list-column">
  <div class="container container_fullPadding">
    <div class="content">
      <ul class="list">
        {% for list in column %}
          <li class="item">
              <div class="item--column-title">{{ list.columnTitle }}</div>
              {{ list.list|e('wp_kses_post') }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
