[is='flynt-navigation-footer-columns'] {
  @import 'Partials/menu';
  background-color: $blue;
  padding: $container-padding-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding: $container-padding-desktop;
  }

  + [is='flynt-navigation-footer'] .container {
    padding-top: 0;
  }

  .columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }

    &-info {
      align-items: flex-start;
      color: $white;
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-tablet) {
        width: 85%;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        width: 85%;
      }
    }

    &-menu {
      align-items: flex-start;
      color: $white;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;

      p {
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 1.313rem;
      }
    }
  }

  .logo {
    &-image {
      display: block;
      margin: 0;
      max-width: 132px;
      width: auto;

      @media (min-width: $breakpoint-tablet) {
        margin: 0;
      }
    }

    svg {
      @media (max-width: $breakpoint-mobile-horizontal) {
        max-width: 265px;
      }
    }
  }

  .social {
    @include reset-content-margins;
    margin-top: 0;

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin: 50px 0;
    }

    .address {
      align-items: center;
      box-sizing: content-box;
      color: $white;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding-bottom: 20px;

      svg {
        margin-right: 12px;
        width: fit-content;
      }

      address {
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.5rem;
        width: 70%;
      }
    }

    .phone {
      align-items: center;
      box-sizing: content-box;
      color: $white;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding-bottom: 20px;

      svg {
        margin-right: 15px;
        width: fit-content;
      }

      a {
        color: $white;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
        width: 70%;
      }
    }
  }

  .socialList {
    @include reset-list;
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    svg {
      margin-right: 15px;
      transition: color 0.2s ease;

      path {
        transition: color 0.2s ease;
      }
    }

    &-link {
      align-items: center;
      box-sizing: content-box;
      color: $white;
      display: flex;
      flex-flow: row wrap;
      font-size: 16px;
      justify-content: flex-start;
      line-height: 1.5;
      text-decoration: none;

      &:hover,
      &:focus {
        cursor: url('/wp-content/uploads/2022/02/cursor-white.png'), auto;
        text-decoration: none;

        svg {
          color: $white;
        }
      }
    }

    &-item {
      display: inline-block;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    svg {
      color: $white;
      display: block;
      height: 100%;
      max-width: 20px;
      width: auto;
    }
  }
}
