[is='flynt-project-media-gallery'] {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      gap: $gap;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .grid-item {
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      height: auto;
      height: 100%;
      width: 100%;

      &--one-third {
        grid-column-end: span 2;
      }

      &--two-third {

        grid-column-end: span 4;
      }

      &--one-half {
        grid-column-end: span 3;
      }

      &--three-third {
        grid-column-end: span 6;
        height: auto;
      }

      video,
      img {
        display: block;
        object-fit: cover;
      }
    }

  }

}
