[is='flynt-project-media-gallery'] {
  .grid {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin-left: -$gap;
    margin-top: -$gap;
  }

  .grid-item {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 100%;
    object-fit: cover;
    padding-left: $gap;
    padding-top: $gap;
    @media (max-width: $breakpoint-mobile-horizontal - 1) {
      padding-bottom: 20px;
    }

    &,
    &--one-third {
      width: 33.3333%;

      @media (max-width: $breakpoint-mobile-horizontal - 1) {
        width: 100%;
      }
    }

    &--one-half {
      width: 50%;
      @media (max-width: $breakpoint-mobile-horizontal - 1) {
        width: 100%;
      }
    }

    &--two-third {
      width: 66.6666%;

      @media (max-width: $breakpoint-mobile-horizontal - 1) {
        width: 100%;
      }
    }

    &--three-third {
      width: 100%;
    }

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
