[is='flynt-navigation-main'] {
  $navigation-height-desktop: 100px;
  $navigation-height-mobile: 75px;
  $nav-duration: 0.2s;
  $nav-ease: ease-in-out;

  // background-color: $white;
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .wrapper {

    // Initial display
    background-color: $white;
    color: $blue;
    height: $navigation-height-mobile;
    opacity: 0;

    padding: 0 $container-padding-mobile;
    transition-duration: $nav-duration;
    transition-property: opacity;
    transition-timing-function: $nav-ease;

    &:hover {
      opacity: 1;
    }


    // Transparent
    &--transparent {
      background-color: transparent;
      color: $white;

      .container {
        border-color: transparent;
      }
    }

    // Hidden
    &--visible {
      opacity: 1;
    }

    @media (min-width: $breakpoint-tablet) {
      height: $navigation-height-desktop;
      padding: 0 $container-padding-desktop;
    }
  }

  .container {
    align-items: center;
    border-bottom: 1px solid;
    border-color: $blue;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    flex-shrink: 1;

    &-desktop {
      display: none;

      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
    }

    &-mobile {
      display: block;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
    }


    .logoHeader {
      @include cursor-blue;
      display: block;
      fill: currentColor;
      max-width: 100%;
    }

  }

  .menu {
    @include reset-list;
    align-items: center;
    display: flex;



    &-link {
      @include cursor-blue;
      display: block;
      font-size: 1rem;
      letter-spacing: 0.015em;
      line-height: 1.5rem;
      margin-left: 20px;

      &:hover {
        text-decoration: underline;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 1.8rem;
        margin-left: 50px;
      }
    }
  }

  .wrapper--transparent {
    .menu-link,
    .logoHeader {
      @include cursor-white;
    }
  }
}
